

._mb-110 {
	margin-bottom: 110px;
}
._mb-9 {
	margin-bottom: 90px;
}

.press {
	&_img {
		margin-left: -15px;
		margin-right: -15px;
		@media (max-width: 1440px) {
			margin-left: 0;
			margin-right: 0;
		}
		img, video {
			display: inline-block;
			max-width: 100%;
			width: 100% !important;
			height: auto;
		}
	}
	&_grid {
		display: grid;
		grid-template-columns: 600px 1fr;
		grid-gap: 52px;
		align-items: flex-end;
		@media (max-width: 1300px) {
			grid-template-columns: 500px 1fr;
		}
	}
	&_left-col {
		p {
			padding-right: 68px;
		}
	}
}

.video-st {
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	cursor: pointer;

	img {
		vertical-align: bottom;
		transition: 0.5s;
	}

	&::before {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		width: 212px;
		height: 212px;
		background: url(../img/icon-play.png) no-repeat center center / contain;
		transform: translate3d(-50%, -50%, 0);
		transition: 0.3s;
		z-index: 1;

		@include mobile {
			width: 100px;
			height: 100px;
		}
	}

	&:hover {
		&::before {
			transform: translate3d(-50%, -50%, 0) scale(1.1);
		}

		img {
			transform: scale(1.05);
		}
	}

	@include tabletMaxi {
		&._mb-9 {
			margin-bottom: 70px;
		}
	}
	@include mobile {
		&._mb-9 {
			margin-bottom: 50px;
		}
	}
}

._push-back {
	margin-top: -440px;
	@include tabletMaxi {
		margin-top: -260px;
	}
	@include mobile {
		margin-top: -25vw;
	}
	&:after {
		content: "";
		position: absolute;
		top: 437px;
		left: 0;
		right: 0;
		height: 6px;
		background-color: $bg-default;
		z-index: -1;
		@include tabletMaxi {
			top: 257px;
		}
		@include mobile {
			top: calc(25vw - 3px);
		}

	}
}

.cta {
	// margin-left: -50px;
	// margin-right: -50px;
	border: 2px solid #F6F3EA;
	padding: 20px 40px 28px;
	text-align: center;
	@include mobile {
		padding: 20px 36px 28px;
	}
	&._dark {
		border: 1px solid #043C21;
		.cta_txt {
			color: inherit;
		}
	}
	&._grid {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px 36px;
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
		@include tabletMaxi {
			padding-left: 14px;
			padding-right: 14px;
			max-width: none;
		}
		@include mobile {
			padding-left: 36px;
			padding-right: 36px;
			display: block;
		}
		.cta_btns {
			margin-left: 17px;
		}
		.cta_txt {
			padding-left: 0;
			padding-right: 0;
			margin-bottom: 0;
			@include mobile {
				margin-bottom: 24px;
			}
		}
	}
	&_txt {
		font-size: 20px;
		line-height: 1.6;
		color: #F6F3EA;
		margin-bottom: 17px;
		padding: 0 10%;
		@include mobile {
			font-size: 14px;
			line-height: 1.6;
			padding-left: 0;
			padding-right: 0;
		}
	}
	&_btns {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-shrink: 0;
		>*+* {
			margin-left: 24px;
		}
		@include mobile {
			display: block;
			>* {
				display: inline-block;
			}
			>*+* {
				margin-left: 0;
				margin-top: 24px;
			}
		}
	}
	&_btn {
		flex-shrink: 0;
	}
}

.press {
	&._second {
		.press_img {
			border-radius: 10px;
			overflow: hidden;
			margin-left: 0;
			margin-right: 0;
		}
	}
	.art-images {
		max-width: 530px;
		margin-left: 0;
	}
	.art-images_img-box {
		left: 100%;
		margin-left: 163px;
		bottom: 0;
		top: 0;
	}
	.art-images_img {
		position: absolute;
		top: 30px;
		&:before {
			content: "";
			position: absolute;
			bottom: 100%;
			margin-bottom: -2px;
			left: 50%;
			margin-left: -1px;
			width: 1px;
			height: 600px;
			background-color: #043C21;
			z-index: -1;

		}
	}
	.art-images_circle-sm {
		width: 26px;
		height: 26px;
		background-color: #AA1B07;
		position: absolute;
		top: -50px;
		left: 100%;
		margin-left: 188px;
	}
}

.site-next {
	margin-top: 92px;
	text-align: center;
	@include mobile {
		margin-top: 36px;
	}
	&_text {
		font-size: 20px;
		font-weight: 400;
		margin-bottom: 36px;
		@include tabletMaxi {
			font-size: 16px;
			margin-bottom: 30px;
		}
		@include mobile {
			font-size: 14px;
			line-height: 1;
			margin-bottom: 24px;
		}
	}
	&_icon {
		@include mobile {
			max-width: 30px;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}

}

