<div class="cta-bl">
	<div class="container">
		<div class="cta-bl_inner" data-anim-fadey>
			<div class="cta-bl_logo">
				<a target="_blank" href="https://bdbusinesssummit.com/"><img src="../img/logo.svg" alt="image"></a>
			</div>
			<div class="cta-bl_tt">Explore the trillion-dollar journey</div>
			<div class="cta-bl_btn">
				<a target="_blank" href="https://bdbusinesssummit.com/" class="btn btn_min-width btn_second">Find out more</a>
			</div>
		</div>
	</div>
</div>


