<div class="cta _grid _dark" data-anim-fadey>
	<div class="cta_txt">Learn how industry diversification is fuelling Bangladesh’s economic growth.</div>
	<div class="cta_btns">
		<div class="cta_btn">
			<a target="_blank" href="https://sponsorcontent.cnn.com/int/fbcci/trillion-dollar-future/" class="btn btn_dark btn_icon-bl" >
				<span class="btn_text">Learn more</span>
				<span class="btn_icon btn_icon_right">
					<img src="../img/ic-arrow-right_l.svg" alt="icon">
				</span>
			</a>
		</div>
	</div>
</div>
