
<div class="cta _dark" data-anim-fadey>
	<div class="cta_txt">Learn how industry diversification and an investment friendly landscape is fueling Bangladesh’s economic growth.</div>
	<div class="cta_btns">
		<div class="cta_btn">
			<a href="#" class="btn btn_dark btn_icon-bl">
				<span class="btn_text">Pre-Event CTA</span>
				<span class="btn_icon btn_icon_right">
					<img src="../img/ic-arrow-right_l.svg" alt="icon">
				</span>
			</a>
		</div>
		<div class="cta_btn">
			<a href="#" class="btn btn_dark btn_icon-bl">
				<span class="btn_text">Post-Event CTA</span>
				<span class="btn_icon btn_icon_right">
					<img src="../img/ic-arrow-right_l.svg" alt="icon">
				</span>
			</a>
		</div>
	</div>
</div>
