<div class="nav-points" data-nav-points>
	<button class="nav-point" data-url="embracing-sustainability">
		<span>Embracing Sustainability</span>
	</button>
	<button class="nav-point" data-url="industries-future">
		<span>Industries of the Future</span>
	</button>
	<button class="nav-point" data-url="smart-life">
		<span>A Smart Way of Life</span>
	</button>
	<button class="nav-point _start _is-start">
		<span class="nav-point_start-arrow">
			<img src="{{assetsPath}}img/ic-arrow-left.svg" alt="image">
		</span>
		<span class="nav-point_start-inner">
			Booming Bangladesh
		</span>
	</button>
</div>
