

<div class="site-next" data-anim-fadey-last>
	<div class="site-next_text">Scroll to the next article</div>
	<div class="site-next_icon">
		<img src="../img/ic-arrow-down-dark.svg" alt="image">
	</div>
</div>
