<div class="video-modal full-screen">
    <video class="" controls loop playsinline>
        <source src="" type="video/mp4">
    </video>
    <div class="video-modal_mask full-screen"></div>
    <button class="video-modal_close"></button>
</div>
