---
title: Embracing Sustainability – FBCCI – CNN
description:
pageName: homePage
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
	{% include 'blocks/_nav.twig' %}
	<div class="wrapper">
		{% include 'pages/home/_hub.twig' %}
		{% include 'blocks/_transition.twig' %}
		<main class="article" data-article-init>
			<div class="l-smooth-scroll" data-scroll-container data-articles-container>
				{#
				<div class="article_wrapp wrap-header" data-article-parse>
					{% include 'pages/home/_article-three.twig' %}
				</div>
				#}
			</div>
		</main>

		{% set poster = 'img/af1-video.jpeg' %}

		{% include 'blocks/_video-modal.twig' %}
		{% include 'blocks/_prompt.twig' %}
	</div>
{% endblock %}
