// ._hub-hidden {
// 	.hero-hub {
// 		opacity: 0;
// 		// &:after {
// 		// 	background-color: #f6f3ea;
// 		// 	content: "";
// 		// 	position: absolute;
// 		// 	top: 0;
// 		// 	left: 0;
// 		// 	bottom: 0;
// 		// 	right: 0;
// 		// 	z-index: 1111;
// 		// 	pointer-events: none;
// 		// }
// 	}

// 	// .l-smooth-scroll, .article_wrapp {
// 	// 	height: 0px !important;
// 	// 	overflow: hidden;
// 	// }
// }

// ._hub-hidden .hero-hub {
// 	opacity: 0;
// 	// transition: opacity 0s 1.6s;
// 	// transition-delay: 1.7s;
// }

// ._hub-hidden .hero-hub:after {
// 	background-color: #f6f3ea;
// 	content: "";
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	bottom: 0;
// 	right: 0;
// 	z-index: 1111;
// 	pointer-events: none;
// }

.hero-hub {
	opacity: 1;
}
._hub-hidden .hero-hub {
	opacity: 0;
	transition: opacity 0s 1.5s;
}

.hero-hub {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	z-index: 2;
	background-color: #053C20;
	color: #fff;
	// transition: opacity 0s 1.7s;
	transition-delay: 1.7s;
	opacity: 1;

	@media (max-width: 1024px) and (min-width: 740px) and (min-height: 900px) {
		// transform: scale(1.3);
		transform: scale(1.55) translateY(-2%);
	}
	@include mobile {
		transform: scale(1.55);
	}
	@media (max-width: 740px) and (min-height: 620px) {
		transform: scale(1.8);
	}

	&._hidden {
		opacity: 1;
		&:after {
			background-color: $bg-default;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 1111;
			pointer-events: none;
		}
	}

	&_wrapp {
		position: relative;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin-top: -39.3%;
		will-change: transform;
		// transform: translateY(calc(-50% + 44.5%));
	}
	&_circle {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -126.8%;
		margin-left: -25vw;
		width: 50vw;
		height: 50vw;
		// border-radius: 50%;
		// background-color: #C91609;
		color: #C91609;
		z-index: 1;
		opacity: 1;
		svg, img {
			width: 100% !important;
			height: 100% !important;
			display: block;
		}
	}
	&_img {
		display: inline-block;
		width: 100%;
		position: relative;
		z-index: 2;

		img {
			width: 100%;
		}
	}

	&_txt-bl {
		color: #fff;
		text-align: center;
		z-index: 3;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -126.8%;
		margin-left: -25vw;
		padding-top: 10vw;
		width: 50vw;
		height: 50vw;
		// background-color: rgba(#000, 0.1);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-bottom: 17vw;
		@include mobile {
			padding-top: 12vw;
			padding-bottom: 14vw;
		}

	}
	&_tt {
		font-weight: 600;
		font-family: $font1;
		font-size: 72px;
		line-height: 1;
		margin-bottom: 29px;
		max-width: 559px;
		margin-right: auto;
		margin-left: auto;
		letter-spacing: 0.05em;

		@media (max-width: 1441px) {
			font-size: fzl(72px);
			line-height: 1;
			margin-bottom: fzl(29px);
		}
	}
	&_txt {
		font-weight: 400;
		font-size: 18px;
		line-height: 1.2;
		margin-bottom: 29px;
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;

		@media (max-width: 1441px) {
			font-size: fzl(18px);
			line-height: 1.2;
			margin-bottom: fzl(29px);
			max-width: fzl(500px);
		}

		@include mobile {
			font-size: 2vw;
			max-width: 40vw;
			span {
				display: block;
			}
		}
	}
	&_icon {
		display: block;
		margin-left: auto;
		margin-right: auto;
		@media (max-width: 1441px) {
			max-width: fzl(37px);
		}
	}

	&_lottie-one {
		position: absolute;
		top: 50%;
		margin-top: -94%;
		left: 0;
		right: 0;
		z-index: 4;

		svg {
			width: 100%;
			height: auto !important;
		}
	}

	&_lottie-two {
		position: absolute;
		top: 50%;
		margin-top: -9.5%;
		left: 0;
		right: 0;
		z-index: 6;

		svg {
			width: 100%;
			height: auto !important;
		}
	}

	&_lottie-air {
		position: absolute;
		top: 50%;
		margin-top: -142.5%;
		left: 0;
		right: 0;
		z-index: 2;
		// @include tabletMaxi {
		// 	margin-top: 0;
		// 	top: -130px;
		// }
		// @media (max-width: 1024px) and (min-width: 740px) and (min-height: 1000px) {
		// 	left: 10%;
		// 	right: -10%;
		// 	top: -50px;
		// }
		@media (max-width: 1024px) and (min-width: 740px) and (min-height: 900px) {
			left: 10%;
		}
		@include mobile {
			left: 13%;
			// top: -50px;
		}

		svg {
			width: 100%;
			height: auto !important;
		}
	}

	&_lottie-flag {
		position: absolute;
		top: 50%;
		margin-top: -101.5%;
		left: 0;
		right: 0;
		z-index: 3;

		svg {
			width: 100%;
			height: auto !important;
		}
	}

	&_lottie-three {
		position: absolute;
		top: 50%;
		margin-top: 98%;
		left: 0;
		right: 0;
		z-index: 9;

		svg {
			width: 100%;
			height: auto !important;
		}
	}

	&_lottie-four {
		position: absolute;
		top: 50%;
		margin-top: 119%;
		left: 0;
		right: 0;
		z-index: 9;

		svg {
			width: 100%;
			height: auto !important;
		}
	}

	&_lottie-five {
		position: absolute;
		top: 50%;
		margin-top: 179%;
		left: 0;
		right: 0;
		z-index: 9;

		svg {
			width: 100%;
			height: auto !important;
		}
	}

	&_lottie-six {
		position: absolute;
		top: 50%;
		margin-top: 238%;
		left: 0;
		right: 0;
		z-index: 10;

		svg {
			width: 100%;
			height: auto !important;
		}
	}

	&_img-one {
		position: absolute;
		top: 50%;
		margin-top: -144.45%;
		left: 0;
		right: 0;
		z-index: 3;

		img {
			width: 100%;
		}
	}
	&_img-two {
		position: absolute;
		top: 50%;
		margin-top: -92.3%;
		left: 0;
		right: 0;
		z-index: 5;

		img {
			width: 100%;
		}
	}
	&_img-three {
		position: absolute;
		top: 50%;
		margin-top: 3.5%;
		left: 0;
		right: 0;
		z-index: 7;

		img {
			width: 100%;
		}
	}
	&_img-four {
		position: absolute;
		top: 50%;
		margin-top: -149.5%;
		left: 0;
		right: 0;
		z-index: -1;
		opacity: 0.5;

		img {
			width: 100%;
		}
	}
	&_img-five {
		position: absolute;
		top: 50%;
		margin-top: 106.5%;
		left: 0;
		right: 0;
		z-index: 10;

		img {
			width: 100%;

		}
	}
	&_img-six {
		position: absolute;
		top: 50%;
		margin-top: 176.5%;
		left: 0;
		right: 0;
		z-index: 11;

		img {
			width: 100%;

		}
	}
	&_img-seven {
		position: absolute;
		top: 50%;
		margin-top: 195.5%;
		left: 0;
		right: 0;
		z-index: 12;

		img {
			width: 100%;

		}
	}
}


