.c-prompt {
    display: none;
}

@media (max-width: 900px) and (max-height: 500px) and (orientation: landscape) {

	.c-prompt {
        background: #19191b;
		position: fixed;
		left: 0;
		top:59px;
		bottom: 0;
		right:0;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		z-index: 999;
		color: white;
		text-align: center;
		font-size: 18px;
    	line-height: 1.5;
		padding: 0px 0 0;
		flex-wrap: wrap;
		
		b {
			text-transform: uppercase;
		}
		
		&_icon {
			width: 90px;
			height: 90px;
			background: url(../img/icon-rotate.svg) no-repeat center center/cover;
			margin-bottom: 30px;
		}
		&_text {
			width: 100%;
		}
	}
}