<head>
  <meta charset="utf-8"/>
  <title>Booming Bangladesh - FBCCI - CNN</title>
  <meta name="description" content="As one of the fastest-growing economies in the world, Bangladesh is embracing industry diversification and building an investment friendly landscape to fuel growth.">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
  <meta name="format-detection" content="telephone=no"/>

  <link rel="shortcut icon" href="https://development.turnercommercialproductions.com/fbcci-2023/img/favicon.png" />

  <meta property="og:locale" content="en_GB" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="A Trillion Dollar Journey" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="https://development.turnercommercialproductions.com/fbcci-2023/img/meta.jpeg" />
  <meta property="og:site_name" content="CNN Advertisement Feature" />
  <meta property="og:description"
      content="Bangladesh embraces sustainability and digitalization as it races toward becoming a developed nation." />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="Bangladesh embraces sustainability and digitalization as it races toward becoming a developed nation." />
  <meta name="twitter:title" content="A Trillion Dollar Journey" />
  <meta name="twitter:image:src" content="https://development.turnercommercialproductions.com/fbcci-2023/img/meta.jpeg" />
  <meta name="twitter:creator" content="CNN" />

	<!-- google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap" rel="stylesheet">
	<!-- end google fonts -->

  <link rel="stylesheet" href="css/app.css"/>

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  {#<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122343978-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-122343978-1');
  </script>#}

  <script crossorigin="anonymous" nomodule src="https://polyfill.io/v3/polyfill.min.js?features=blissfuljs%2Cdefault%2Ces2015%2Ces2016%2Ces2017%2Ces2018%2Ces5%2Ces6%2Ces7%2CNodeList.prototype.forEach%2CIntersectionObserver%2CIntersectionObserverEntry"></script>

	<style>
	.hero-hub {
		opacity: 1;
	}
	._hub-hidden .hero-hub {
		opacity: 0;
		transition: opacity 0s 1.5s;
	}
	</style>

</head>
