<div class="section-st _pt-0 _push-back _zindex">
	<div class="container">
		<!-- if cta ._mb-9 -->
		<div class="video-st" data-video="https://player.vimeo.com/progressive_redirect/playback/820758765/rendition/720p/file.mp4?loc=external&signature=ee04ff7a16cef0ec11db59cf03ee176bca7e0044ab145dcd75262da34ec60784">
			<img src="../img/article3/af2-video.jpg">
			{# <video width="1200" controls muted autoplay loop data-init-video>
				<source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" />
				Your browser doesn't support HTML5 video tag.
			</video> #}
		</div>

		{# <div class="cta _grid _dark" data-anim-fadey>
			<div class="cta_txt">Learn how industry diversification is fueling Bangladesh’s economic growth.</div>
			<div class="cta_btns">
				<div class="cta_btn">
					<a target="_blank" href="https://sponsorcontent.cnn.com/int/fbcci/trillion-dollar-future/" class="btn btn_dark btn_icon-bl" >
						<span class="btn_text">Learn more</span>
						<span class="btn_icon btn_icon_right">
							<img src="../img/ic-arrow-right_l.svg" alt="icon">
						</span>
					</a>
				</div>
			</div>
		</div> #}

		{# <div class="site-next" data-anim-fadey-last>
			<div class="site-next_text">Scroll to the next article</div>
			<div class="site-next_icon">
				<img src="../img/ic-arrow-down-dark.svg" alt="image">
			</div>
		</div> #}


	</div>
</div>

