<div class="elktr">

	<div class="elktr_lottie-two _var-3" data-anim-fadey-last data-lottie-element data-lottie-src="../json/AF3/A1/AF3-1.json" >
	</div>
	<!-- <div class="elktr_lottie-two _var-3">
		<img src="../img/article3/electro-lottie.png" alt="image">
	</div> -->
	<div class="container">
		<div class="grid-bl">
			<div class="grid-bl_inner">
				<div class="txt-bl _first" data-anim-fadey-first>
					<p>Ever since the vision of Digital Bangladesh was introduced in 2008, the government of the South Asian nation has made it a key priority to build a robust digital infrastructure and promote the adoption of information and communication technologies across multiple sectors. This rapid digital transformation, coupled with the country’s young and tech-savvy workforce and a burgeoning consumer economy, is paving the way for a smarter future for Bangladesh.</p>
				</div>
			</div>
		</div>
	</div>
</div>
