<div class="elktr">
	<div class="elktr_bg-one">
		<img src="../img/elektro1.png" alt="image">
	</div>
	<div class="elktr_bg-two">
		<img src="../img/elektro2.png" alt="image">
	</div>
	<div class="container">
		<div class="elktr_inner">
			<div class="elktr_txt" data-anim-fadey>
				<p>In the last decade and a half, Bangladesh has grown to become the 41st largest economy in the world, with its economy on track to more than double to hit the $1 trillion mark by 2040. Home to a population of over 170 million, the country is currently the fastest-growing consumer market in Asia and on track to become the ninth largest globally by 2030.</p>
				<p>By putting sustainable development at the heart of its growth strategy, countries like Bangladesh can focus on meeting the needs of the present without compromising the viability of future generations.</p>
			</div>
		</div>
	</div>
</div>


