<section class="section-st _pb-10 _pt-10 _o-hidden _mpb-md">
	<div class="container">
		<div class="grid-bl _var-3 _float-mobile _wrapp-bottom _index1">
			<div class="grid-bl_inner _order1 _push-top">
				<div class="txt-bl" data-anim-fadey>
					<blockquote>
						<p>“With its continued digitalization and upgrading of technology, consistent rise in per capita income, demographic dividend, and geographic location, Bangladesh today is increasingly vital to global trade and international supply chains with a world of opportunities.”</p>
						<hr>
						<b>Md Mahbub ur Rahman</b>
						<span>CEO of HSBC Bangladesh</span>
					</blockquote>
				</div>
			</div>
			<div class="grid-bl_inner">
				<div class="txt-bl _first" data-anim-fadey>
					<h3>The Future of Finance</h3>
					<p>At the forefront of the country’s digital transformation is the financial services sector. According to the UN-based Better Than Cash Alliance’s latest analysis with Bangladesh’s flagship Aspire to Innovate (a2i) program, one in five financial transactions in the country are now digital, compared to just one in 19 in 2016. Financial inclusion over the same period has also more than doubled to 79%.</p>
					<p>As part of one of the world’s leading banks, HSBC Bangladesh has played a pivotal role in bringing the future of finance to the country. Since opening its Dhaka main office in 1996, the bank has pioneered a number of digital solutions to support smarter businesses. For example, the bank was the first in the country to offer e-payment solutions for VAT and customs duty through its online platform, HSBCnet. It also launched its HSBC Supply Chain Finance platform, a digital solution that allows corporate clients to manage the seamless end-to-end financing process to suppliers.</p>
				</div>
				<!-- <div class="fabric-bl_img _var-3" data-anim-fadey data-lottie-element data-lottie-src="../json/a2/A2/AF2-2.json">
					{# <img src="../img/article3/fabric3.png" alt="image"> #}
				</div> -->

				{#<div class="fabric-bl_img _var-3" data-lottie-element data-lottie-element data-lottie-src="../json/AF3/A2/AF3-2.json" >
				</div>#}
				<div class="fabric-bl_img-pipl" >
					<span>
						<img src="../img/fabrik-pipl.jpg" alt="image">
					</span>
				</div>
				<!-- <div class="fabric-bl_img" data-anim-fadey>
					<img src="../img/article3/fabric3.png" alt="image">
				</div> -->
				<div class="txt-bl" data-anim-fadey>
					<p>“The growth of digital services and the shift to a cashless society is enabling the bank and its customers to connect with opportunities, potential prospects, and suppliers from further afield,” says HSBC Bangladesh CEO Md Mahbub ur Rahman.</p>
					<p>And in an important milestone in the digitalization of Bangladesh’s financial sector, HSBC Bangladesh completed the country’s first international blockchain transaction in 2020, and has since been offering the technology to businesses looking for an alternate platform to carry out trade finance transactions.</p>

				</div>
			</div>
		</div>
	</div>
</section>


