<section class="section-hero _var-3" data-anim-hero-article>
	<div class="container">
		<div class="section-hero_inner">
			<div class="section-hero_logos">
				<a href="https://bdbusinesssummit.com/" target="_blank" class="section-hero_logo">
					<img src="../img/logo.svg" alt="logotype">
				</a>
				<a href="https://www.business.hsbc.com.bd/en-gb/" target="_blank" class="section-hero_logo">
					<img src="../img/logo3.svg" alt="logotype">
				</a>
			</div>
			<div class="section-hero_name">A SMART WAY OF LIFE</div>
			<h2 class="section-hero_tt _maw-1">Inclusive solutions driving the journey to a digital Bangladesh.</h2>
			<div class="section-hero_icon">
				<img src="../img/ic-arrow-down.svg" alt="arrow down">
			</div>
		</div>
	</div>
</section>
