<section class="section-st _o-hidden _pt-0 _pb-10 _bg-light _bg-top-radius" data-paralax-container>
	<div class="container">

		<div class="box-full-img _mb-9" data-full-img-paralax>
			<div class="box-full-img_inner">
				<img src="../img/article3/img-full1.jpg" alt="image">
			</div>
		</div>
		<div class="grid-bl">
			<div class="grid-bl_inner">
				<div class="txt-bl" data-anim-fadey>
					<h2>To Bangladesh and Beyond</h2>
					<p>This tech-driven transformation has given rise to plenty of investment opportunities in the digital sector. To showcase these opportunities, the Federation of Bangladesh Chambers of Commerce and Industries (FBCCI) hosted the Bangladesh Business Summit in March 2023. The event was organized in partnership with the Government of Bangladesh and was inaugurated by the Honorable Prime Minister Sheikh Hasina of Bangladesh.</p>
					<p>The three-day event provided a platform for local business leaders, policymakers, and investors to meet and exchange ideas on various topics, including key investment opportunities, the potential of the digital economy, long-term finance, modern agriculture, high-tech manufacturing and more.</p>
				</div>
			</div>
			<div class="grid-bl_picture _var-3" data-anim-paralaxTB>
				<!-- <span class="art-images_circle-sm" data-anim-paralaxBT></span> -->
				<div class="img-dot" data-anim-paralaxBT>
					<span class="img-dot_dot-sm"></span>
					<span class="img-dot_dot-st"></span>
					<div class="img-dot_circle _line-top">
						<div class="img-dot_circle-box">
							<img src="../img/article3/img1.jpg" alt="image">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

