<div class="section-st _bg-dark _bg-bottom-radius _o-hidden _pb-567 _pt-9" data-paralax-container>
	<div class="container">
		<div class="grid-bl grid-bl_non-tabl _center _index1">

			<div class="grid-bl_picture-left" data-anim-paralaxB>
				<!-- <span class="art-images_circle-sm" data-anim-paralaxBT></span> -->
				<div class="img-dot">
					<span class="img-dot_dot-sm _line-bottom"></span>
					<span class="img-dot_dot-st"></span>
					<div class="img-dot_circle _sm _line-top">
						<div class="img-dot_circle-box">
							<img src="../img/article3/img2.jpg" alt="image">
						</div>
					</div>
				</div>
			</div>
			<div class="grid-bl_inner">

				<div class="txt-bl" data-anim-fadey>
					<h2>An Innovative, Inclusive Bangladesh</h2>
					<p>Driving the nation’s digitalization efforts across multiple sectors is the vision of creating a Smart Bangladesh. This nationwide initiative is about more than just futuristic gadgets and software. Rather, it’s about leveraging technology to create inclusive digital solutions and services from which businesses and citizens from all socioeconomic backgrounds can benefit.</p>
					<p>In his keynote speech at the panel discussion titled “Harnessing Digital Economy to Unlock New Frontiers for a Smart Bangladesh” at the Bangladesh Business Summit, State Minister for Information and Communication Technology Zunaid Ahmed Palak highlighted the four pillars on which Smart Bangladesh 2041 is built: Smart Citizens, Smart Government, Smart Economy, and Smart Society.</p>
					<blockquote>
						<p>“In order to achieve these targets, we have identified a number of transformational initiatives that will transform Bangladesh into a digitally developed, knowledge-based, and innovative Smart Bangladesh.”</p>
						<hr>
						<b>Zunaid Ahmed Palak</b>
						<span>State Minister for Information and Communication Technology</span>
					</blockquote>
					<p>With a clear vision of a Smart Bangladesh, the country is well-placed to continue its journey to becoming a developed nation by 2041 and create a brighter and better future for all.</p>
				</div>

			</div>
			<div class="grid-bl_picture-right" data-anim-paralaxT>
				<!-- <span class="art-images_circle-sm" data-anim-paralaxBT></span> -->
				<div class="img-dot">
					<span class="img-dot_dot-sm"></span>
					<span class="img-dot_dot-st _line-top"></span>
					<div class="img-dot_circle _sm _line-bottom">
						<div class="img-dot_circle-box">
							<img src="../img/article3/img3.jpg" alt="image">
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- <div class="art-images _dark">
			<div class="art-images_img-box _one">
				<span class="art-images_circle-sm" data-anim-paralaxB></span>
				<span class="art-images_circle" data-anim-paralaxB></span>

				<div class="art-images_img" data-anim-paralaxB>
					<div class="art-images_img-inner">
						<img src="../img/img4.jpg" alt="image">
					</div>
				</div>
			</div>
			<div class="art-images_info">
				<div class="txt-bl" data-anim-fadey>
					<h2>A $200 Billion Opportunity</h2>
					<p>The potential for climate and green investments in Bangladesh, according to World Bank environmental specialist Monika Kumar, is greater than $200 billion, including in renewable energy, green buildings, and transport infrastructure.</p>
					<p>This sustainability focus will allow Bangladesh to mitigate the negative impacts of climate change, reduce poverty and inequality, and provide a high quality of life for its citizens, all of which are crucial for long-term economic stability and to secure a greener future for the country and the world.</p>
					<blockquote>
						<p>“As part of our carbon reduction strategy, we are aligning each and every industry vertical to adapt and develop a more environment friendly approach to business with the intention to become the first conglomerate to reach net zero emission in Bangladesh.”</p>
						<hr>
						<b>Shayan F Rahman</b>
						<span>Group CEO of the Beximco Group</span>
					</blockquote>
				</div>
			</div>
			<div class="art-images_img-box _two">
				<span class="art-images_circle-sm" data-anim-paralaxT></span>
				<span class="art-images_circle" data-anim-paralaxT></span>
				<div class="art-images_img" data-anim-paralaxT>
					<div class="art-images_img-inner">
						<img src="../img/img5.jpg" alt="image">
					</div>
				</div>
			</div>
		</div> -->
	</div>
</div>

