<section class="hero-hub" data-hub-scroll>
	<div class="hero-hub_wrapp">
		<div class="hero-hub_img">
			<img style="opacity: 0; pointer-events: none;" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 4095'%3E%3C/svg%3E">
		</div>
		<div class="hero-hub_img-one">
			<picture>
				<source srcset="../img/BEFORE-A1.webp" type="image/webp">
				<img src="../img/BEFORE-A1.svg" alt="image">
			</picture>
		</div>
		<div class="hero-hub_img-two">
			<picture>
				<source srcset="../img/BEFORE-A2.webp" type="image/webp">
				<source srcset="../img/BEFORE-A2.png" media="(max-width: 2000px)">
				<img src="../img/BEFORE-A2.svg" alt="image">
			</picture>
		</div>
		<div class="hero-hub_img-three">
			<picture>
				{# <source srcset="../img/BEFORE-A3.webp" type="image/webp"> #}
				<img src="../img/BEFORE-A3_last.svg" alt="image">
			</picture>
		</div>
		<div class="hero-hub_img-five">
			<picture>
				<source srcset="../img/BEFORE-A4.webp" type="image/webp">
				<img src="../img/BEFORE-A4.svg" alt="image">
			</picture>
		</div>
		<div class="hero-hub_img-six">
			<picture>
				<source srcset="../img/BEFORE-A5.webp" type="image/webp">
				<img src="../img/BEFORE-A5.svg" alt="image">
			</picture>
		</div>
		<div class="hero-hub_img-seven">
			<picture>
				<source srcset="../img/BEFORE-A6.webp" type="image/webp">
				<img src="../img/BEFORE-A6.svg" alt="image">
			</picture>
		</div>
		<div class="hero-hub_lottie-one" data-lottie-hub-one></div>
		<div class="hero-hub_lottie-two" data-lottie-hub-two></div>
		<div class="hero-hub_lottie-air" data-lottie-hub-air></div>
		<div class="hero-hub_lottie-flag" data-lottie-hub-flag></div>
		<div class="hero-hub_lottie-three" data-lottie-hub-three></div>
		<div class="hero-hub_lottie-five" data-lottie-hub-five></div>
		<div class="hero-hub_lottie-six" data-lottie-hub-six></div>
		<!-- <img class="hero-hub_img-placeholder" style="opacity: 0; pointer-events: none;" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 4095'%3E%3C/svg%3E"> -->
		<!-- <div class="hero-hub_lottie-one"></div> -->

		<span class="hero-hub_circle">
			<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" style="enable-background:new 0 0 1000 1000;" xml:space="preserve">
				<circle cx="500" cy="500" r="500" fill="currentColor"/>
			</svg>
		</span>

		<div class="hero-hub_txt-bl" data-hub-hero-one>
			<h1 class="hero-hub_tt">Booming
				Bangladesh</h1>
			<div class="hero-hub_txt">As one of the fastest-growing economies in the world, Bangladesh is embracing industry diversification and building an investment friendly landscape to <span>fuel growth.</span></div>
			<div class="hero-hub_icon">
				<img src="../img/ic-hub.svg" alt="arrow down">
			</div>
		</div>
	</div>
</section>
