<section class="section-st _pt-9 _mpb-md _o-hidden _bg-dark">
	<div class="container">
		<div class="grid-bl _float-mobile-right _index1">
			<div class="grid-bl_inner">
				<div class="txt-bl _first" data-anim-fadey>
					<h2>Road to Success</h2>
					<p>The successful development of Bangladesh’s pharmaceutical industry is aided in part by the National Industry Policy, set forth by the Bangladesh Investment Development Authority to increase the contribution of select priority sectors, which also include infrastructure and automobiles.</p>
					<p>As a key driver of sustainable growth, infrastructure is needed to ensure the efficient and safe movement of people and goods, and the provision of an inclusive energy and communication network. The Center for Research and Information, a not-for-profit policy research organization based in Dhaka, estimates an annual investment of $10 billion for infrastructure development—including roads, railways, bridges, embankments, and dykes, as well as energy and information and communication technology infrastructure—is needed to translate the vision of Perspective Plan 2041, the country’s long-term development plan of eliminating poverty, to reality.</p>
				</div>
				<div class="grid-bl_img-right _tabl-center _var-2 _maw-big _center" data-anim-fadey data-lottie-element data-lottie-src="../json/a2/A3/AF2-3.json" >
					{# <img src="../img/article2/fabric3.png" alt="image"> #}
				</div>
				<div class="txt-bl" data-anim-fadey>
					<p>The country’s investment drive in infrastructure projects include the Padma Multipurpose Bridge, inaugurated in 2022 as the largest infrastructure project to date in the country, and the Bangabandhu Satellite-1, which helped expand communications coverage after it launched in 2018.</p>
					<p>Though still in its infancy, the automobile industry in Bangladesh has gained traction in recent years with the rise in purchasing power and demand for personal transport. Global automakers are also expanding their footprint in the country. In early 2023, a Hyundai car manufacturing factory was inaugurated with sole distributors Fair Technology starting to produce one of the South Korean automobile giant’s SUV models, while Japanese automaker Mitsubishi Motors is also looking to set up an auto assembly plant in partnership with state-owned Bangladesh Steel and Engineering Corporation (BSEC).</p>
				</div>
			</div>
		</div>
	</div>
</section>

