<div class="elktr">
	<!-- <div class="elktr_lottie-one" data-lottie-train></div>
	<div class="elktr_lottie-two" data-lottie-windwill></div> -->
	<div class="elktr_lottie-two _var-2" data-anim-fadey-last data-lottie-element data-lottie-src="../json/a2/A1/AF2-1.json">
		{# <img src="../img/article2/electro-lottie.png" alt="image"> #}
	</div>
	<div class="container">
		<div class="grid-bl">
			<div class="grid-bl_inner">
				<div class="txt-bl _first" data-anim-fadey-first>
					<p>It took Bangladesh’s economy 50 years to grow to $460 billion, and it is on track to reach $1 trillion by 2040, backed by government policies to develop its infrastructure, attract foreign direct investment with the establishment of Special Economic Zones, and support priority sectors to accelerate the country’s economic growth.</p>
				</div>
			</div>
		</div>
	</div>
</div>
