<section class="section-st _pb-10 _pt-10 _mpb-md">
	<div class="container">
		<div class="grid-bl _float-mobile _wrapp-bottom _index1">
			<div class="grid-bl_inner _order1 _push-top">
				<div class="txt-bl" data-anim-fadey>
					<blockquote>
						<p>“Beximco played a very important role in the transformation of the pharmaceutical industry by investing in building modern compliant facilities, creating a highly skilled workforce, and strengthening R&D capabilities.”</p>
						<hr>
						<b>Nazmul Hassan MP</b>
						<span>Managing Director of Beximco Pharmaceuticals Ltd</span>
					</blockquote>
				</div>
			</div>
			<div class="grid-bl_inner">
				<div class="txt-bl _first" data-anim-fadey>
					<h3>Nurturing Economic Health</h3>
					<p>In 2021, Beximco Pharmaceuticals became the first company in the world to launch a generic version of Paxlovid, Pfizer’s novel antiviral pill to treat Covid-19 patients, at a fraction of the cost compared to other international markets. And that’s just one of over 300 generic medicines produced by the Bangladesh-based company.</p>
					<p>Over the past few decades, local manufacturers like Beximco—the first Bangladeshi company to list on the Alternative Investment Market (AIM) of London Stock Exchange—have driven the country’s pharma sector and made healthcare more affordable and accessible for the domestic market, fulfilling 98% of the total pharmaceutical requirements and exporting to more than 100 countries worldwide.</p>
				</div>
				<div class="fabric-bl_img _ver-2" data-anim-fadey data-lottie-element data-lottie-src="../json/a2/A2/AF2-2.json">
					{# <img src="../img/article2/fabric2.png" alt="image"> #}
				</div>
				<div class="txt-bl" data-anim-fadey>
					<p>Pharma is one of the most technologically advanced sectors in the country, and the industry has witnessed excellent growth in recent years with double digit compounded annualized growth rates to reach a projected $8 billion by 2030.</p>
					<p>With the aim to achieve self-sufficiency in the production of pharmaceutical raw materials, the government of Bangladesh has recently established the Active Pharmaceutical Ingredients (API) Industrial Park and implemented a national policy to ramp up API production, decrease the reliance on raw material imports, lower the cost of locally manufactured drugs, and create 500,000 jobs in this sector.</p>
					<p>In addition to tax exemptions, companies producing API molecules domestically also enjoy a competitive advantage to boost their pharmaceuticals exports on the back of the intellectual property rights waiver for the LDC countries under TRIPS agreement of World Trade Organization (WTO). </p>
					<p>According to pharmaceutical intelligence firm Scrip, the industry’s top companies are forecasted to lose $200 billion between 2022 to 2030 due to the patent expiration of many drugs. This patent cliff opens up the market for the entry of generic medicine, with Bangladesh already positioned as an attractive hub backed by an established manufacturing base and skilled manpower. </p>
				</div>
			</div>
		</div>
	</div>
</section>


