<section class="section-hero" data-anim-hero-article>
	<div class="container">
		<div class="section-hero_inner">
			<div class="section-hero_logos">
				<a href="https://bdbusinesssummit.com/" target="_blank" class="section-hero_logo">
					<img src="../img/logo.svg" alt="logotype">
				</a>
				<a href="https://www.beximco.com/" target="_blank" class="section-hero_logo">
					<img src="../img/logo2.svg" alt="logotype">
				</a>
			</div>
			<div class="section-hero_name">INDUSTRIES OF THE FUTURE</div>
			<h2 class="section-hero_tt _maw-1 _ver-2">A $8 billion local pharma market and other priority sectors in Bangladesh primed for <span>growth potential.</span></h2>
			<div class="section-hero_icon">
				<img src="../img/ic-arrow-down.svg" alt="arrow down">
			</div>
		</div>
	</div>
</section>
