<section class="section-st _o-hidden _pt-0 _pb-10 _bg-light _bg-top-radius" data-paralax-container>
	<div class="container">

		<div class="box-full-img _mb-9" data-full-img-paralax>
			<div class="box-full-img_inner">
				<img src="../img/article2/img-full1.jpg" alt="image">
			</div>
		</div>
		<div class="grid-bl">
			<div class="grid-bl_inner">
				<div class="txt-bl" data-anim-fadey>
					<h2>To Bangladesh and Beyond</h2>
					<p>To showcase investment opportunities in Bangladesh, the Federation of Bangladesh Chambers of Commerce and Industries (FBCCI), in partnership with the Government of Bangladesh, hosted the Bangladesh Business Summit in March 2023, inaugurated by the Honorable Prime Minister Sheikh Hasina of Bangladesh.</p>
					<p>During the three-day event, local business leaders had the opportunity to meet with investors and policymakers and exchange ideas over dedicated sessions including on: Infrastructure, Pharmaceuticals and Healthcare, Public Private Partnership, Special Economic Zone, and Hi-Tech & Automobile.</p>
				</div>
			</div>
			<div class="grid-bl_picture" data-anim-paralaxTB>
				<!-- <span class="art-images_circle-sm" data-anim-paralaxBT></span> -->
				<div class="img-dot" data-anim-paralaxBT>
					<span class="img-dot_dot-sm"></span>
					<div class="img-dot_circle _line-top">
						<div class="img-dot_circle-box">
							<img src="../img/article2/img1.jpg" alt="image">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

