<section class="section-st _o-hidden" data-paralax-container>
	<div class="container">

		<div class="art-images _one-right">
			<div class="art-images_info">
				<div class="txt-bl" data-anim-fadey>
					<h2>Powering the economy</h2>
					<p>Economic expansion increases energy demand and causes strains on the energy infrastructure, and in 2012 the Sustainable and Renewable Energy Development Authority (SREDA) was created to ensure the energy security of the country.</p>
					<p>Bangladesh plans to have <a href="#">40%</a> of the country’s total energy consumption to come from renewable sources by 2041. According to Bangladesh’s <a href="#">National Solar Energy Roadmap</a>, close to 60% of the country’s projected 2041 energy needs can be generated from solar alone.</p>
					<p>When fully operational, a Gaibandha plant by Beximco subsidiary Teesta Solar will have the capacity to generate 280 MW.</p>
					<p>Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit pellentesque habitant morbi tristique senectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit pellentesque habita.</p>
				</div>
			</div>
			<div class="art-images_img-box _one-right">
				<span class="art-images_circle-sm" data-anim-paralaxBT></span>
				<span class="art-images_circle" data-anim-paralaxBT></span>
				<div class="art-images_img" data-anim-paralaxBT>
					<div class="art-images_img-inner">
						<img src="../img/img3.jpg" alt="image">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

