<div class="section-st _o-hidden" data-paralax-container>
	<div class="container">
		<div class="art-images">
			<div class="art-images_img-box _one">
				<span class="art-images_circle-sm" data-anim-paralaxB></span>
				<span class="art-images_circle" data-anim-paralaxB></span>

				<div class="art-images_img" data-anim-paralaxB>
					<div class="art-images_img-inner">
						<img src="../img/img1.jpg" alt="image">
					</div>
				</div>
			</div>
			<div class="art-images_info">
				<div class="txt-bl" data-anim-fadey>
					<h2>Cornerstone of growth</h2>
					<p>In recognition of the need for sustainable development, Bangladesh has implemented national strategies including <a href="#">National Sustainable Development Strategy (NSDS) 2010-2021</a> and <a href="#">National Adaptation Plan (2023 – 2050)</a>.</p>
					<p>The country has also formed dedicated government agency units, and adopted the United Nations’ Sustainable Development Goals (SGD). Bangladesh has made significant progress in fields including alleviating poverty and promoting quality education, and has already achieved two of its 17 goals ahead of 2030 target.</p>
					<p>Consectetur adipiscing elit pellentesque habitant morbi tristique senectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit pellentesque habitant morbi tristique senectus Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<blockquote>
						<p>“The future of Bangladesh is our people”</p>
						<hr>
						<b>Mr. Sohail Rahman</b>
						<span>Chairman and founder of BEXIMCO Group</span>
					</blockquote>
				</div>
			</div>
			<div class="art-images_img-box _two">
				<span class="art-images_circle-sm" data-anim-paralaxT></span>
				<span class="art-images_circle" data-anim-paralaxT></span>
				<div class="art-images_img" data-anim-paralaxT>
					<div class="art-images_img-inner">
						<img src="../img/img2.jpg" alt="image">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

