<section class="section-st _pt-9 _mpb-md _o-hidden _bg-dark">
	<div class="container">
		<div class="grid-bl _float-mobile-right _index1">
			<div class="grid-bl_inner">
				<div class="txt-bl _first" data-anim-fadey>
					<h2>Powering the Economy</h2>
					<p>Economic expansion increases energy demand and causes strains on the energy infrastructure, and in 2012 the Sustainable and Renewable Energy Development Authority was created to ensure the energy security of the country.</p>
					<p>To help the country achieve its energy needs, the World Bank has committed over $1.8 billion in ongoing support in the country’s energy sector, including a $500 million Electricity Distribution Modernization Program to upgrade and expand the national power transmission system in Bangladesh. In recent years, Bangladesh has made significant progress in increasing access to electricity in remote and underserved areas, with electricity now available for 85% of the population, up from 20% in 2002.</p>
				</div>
				<div class="grid-bl_img-right _tabl-center _maw-big _center" data-anim-fadey data-lottie-fabric>
					<!-- <img src="../img/fabric2.png" alt="image"> -->
				</div>
				<div class="txt-bl" data-anim-fadey>
					<p>The government’s Ministry of Planning estimates an investment requirement of $6 billion per year until 2041 to help propel growth and meet the demand for energy. At the 2022 United Nations Climate Change Conference (COP27), Information and Broadcasting Minister Dr. Hasan Mahmud announced Bangladesh’s plans to have 40% of the expected total energy consumption to come from renewable sources by 2041.</p>
					<p>Helping the country achieve its renewable energy goals, Beximco subsidiary Teesta Solar has recently commenced solar power generation at a renewable energy plant. When fully operational, the plant will have the capacity to generate 200 MW, making it one of the country’s largest solar-based power stations.</p>
				</div>
			</div>
		</div>
	</div>
</section>

