<div class="elktr">
	<div class="elktr_lottie-one" data-anim-fadey-last data-lottie-train></div>
	<div class="elktr_lottie-two" data-anim-fadey-last data-lottie-windwill></div>
	<div class="container">
		<div class="grid-bl">
			<div class="grid-bl_inner">
				<div class="txt-bl _first" data-anim-fadey-first>
					<p>In just a few decades, Bangladesh has grown to become the 41st largest economy in the world, with its economy on track to more than double to hit the $1 trillion mark by 2040. Home to a population of over 170 million, the country is currently the fastest-growing consumer market in Asia and projected to become the ninth largest globally by 2030.</p>
					<p>By putting sustainable development at the heart of its growth strategy, countries like Bangladesh can focus on meeting the needs of the present without compromising the viability of future generations.</p>
				</div>
				<div class="txt-bl" data-anim-fadey-first>
					<p>In recognition of the need for sustainable development, Bangladesh has implemented national strategies including the National Sustainable Development Strategy 2010-2021 and National Adaptation Plan (2023 – 2050) to meet the challenges of the country’s economic, social, and environmental sustainability goals.</p>
					<p>The country has also formed dedicated government agency units, and adopted the United Nations’ Sustainable Development Goals (SDG), of which it has made significant progress in fields including alleviating poverty and promoting quality education, and already achieved two of its 17 objectives ahead of schedule: taking climate action to reduce CO<sub>2</sub> emissions, and ensuring sustainable consumption and production patterns.</p>
				</div>

			</div>
		</div>
	</div>
</div>
