<section class="section-st _o-hidden _bg-dark">
	<div class="container">
		<div class="fabric-info">
			<div class="txt-bl" data-anim-fadey>
				<h2>Fabric of Society</h2>
				<p>In the last decade and a half, Bangladesh has grown to become the 41st largest economy in the world, with its economy on track to more than double to hit the $1 trillion mark by 2040. Home to a population of over 170 million, the country is currently the fastest-growing consumer market in Asia and on track to become the ninth largest globally by 2030.</p>
				<p>By putting sustainable development at the heart of its growth strategy, countries like Bangladesh can focus on meeting the needs of the present without compromising the viability of future generations.</p>
				<blockquote>
					<p>“We are committed to continue on the path of our sustainable development where each step of the journey ahead, complements a certain aspect of reducing carbon emission”</p>
					<hr>
					<b>Mr. Sohail Rahman</b>
					<span>Chairman and founder of BEXIMCO Group</span>
				</blockquote>
			</div>
			<div class="fabric-info_img" data-lottie-fabric>
			</div>
		</div>
	</div>
</section>

