<section class="section-st _pb-10 _pt-10 _mpb-md">
	<div class="container">
		<div class="grid-bl _float-mobile _wrapp-bottom _index1">
			<div class="grid-bl_inner _order1 _push-top">
				<div class="txt-bl" data-anim-fadey>
					<blockquote>
						<p>“We are committed to continue on the path of our sustainable development where each step of the journey ahead, complements a certain aspect of reducing carbon emission.”</p>
						<hr>
						<b>Shayan F Rahman</b>
						<span>Group CEO of the Beximco Group</span>
					</blockquote>
				</div>
			</div>
			<div class="grid-bl_inner">
				<div class="txt-bl _first" data-anim-fadey>
					<h3>Fabric of Society</h3>
					<p>A major driver of economic growth in Bangladesh has been the ready-made garment (RMG) industry. According to the Bangladesh Garment Manufacturers & Exporters Association (BGMEA), the trade body of apparel manufacturers in Bangladesh, RMG export for FY2021-22 reached $42.61 billion, accounting for over 81% of total exports of Bangladesh.</p>
					<p>The sector, however, has traditionally been seen as a major contributor to global warming, producing 1.7 billion tons of CO<sub>2</sub> emissions per year, but efforts have been made to reverse the tide.</p>
					<p>In 2018, garment stakeholders forged the United Nations Framework Convention on Climate Change Fashion Industry Charter for Climate Action, for which the BGMEA is a signatory, committing to a 30% reduction in greenhouse gas emissions by 2030 and net-zero emissions by 2050.</p>
				</div>
				<div class="fabric-bl_img" data-anim-fadey>
					<img src="../img/AF1-A2.svg" alt="image">
				</div>
				<div class="txt-bl" data-anim-fadey>
					<p>Sustainability has also been put to the fore at the Beximco Group, the largest business conglomerate in Bangladesh and one of the region’s largest vertically integrated textile and garment companies. The company is a contributor to the Zero Discharge of Hazardous Chemicals Community whose Roadmap to Zero program tackles sustainable chemical management within the fashion industry.</p>
					<p>In 2022, Beximco partnered with Spanish recycling technology company Recover to open a new facility in Bangladesh to create a circular industry with recycled fabrics to turn textile waste into premium fibers. Beximco has also collaborated with companies like Jeanologia to modify the conventional dyeing and washing process to minimize usage of chemicals and freshwater.</p>
				</div>
			</div>
		</div>
	</div>
</section>


