<section class="section-st _o-hidden _pt-0 _pb-10 _bg-light _bg-top-radius" data-paralax-container>
	<div class="container">

		<div class="box-full-img _mb-9" data-full-img-paralax>
			<div class="box-full-img_inner">
				<picture>
					<source srcset="../img/press-img2_mob.jpg" media="(max-width: 767px)">
					<img src="../img/press-img2.jpg" alt="image">
				</picture>
			</div>
		</div>
		<div class="grid-bl">
			<div class="grid-bl_inner">
				<div class="txt-bl" data-anim-fadey>
					<h2>To Bangladesh and Beyond</h2>
					<p>The Federation of Bangladesh Chambers of Commerce and Industries (FBCCI), together with the Government of Bangladesh, organized the Bangladesh Business Summit in March 2023 with the aim of presenting investment prospects in Bangladesh.</p>
					<p>Inaugurated by the Honorable Prime Minister of Bangladesh Sheikh Hasina, the three-day event provided a platform for local business leaders to engage with policymakers and investors and discuss relevant topics such as Energy Security, Circular Economy, and Apparel & Textile in dedicated sessions.</p>
				</div>
			</div>
			<div class="grid-bl_picture" data-anim-paralaxTB>
				<!-- <span class="art-images_circle-sm" data-anim-paralaxBT></span> -->
				<div class="img-dot" data-anim-paralaxBT>
					<span class="img-dot_dot-sm"></span>
					<div class="img-dot_circle _line-top">
						<div class="img-dot_circle-box">
							<img src="../img/img1.jpg" alt="image">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

