---
title: A Smart Way of Life – FBCCI – CNN
description: Pharma and other priority sectors accelerating Bangladesh’s economic growth
pageName: homePage
ogtitle: Industries primed for growth potential
ogdescription: Discover how pharma, infrastructure, and other priority sectors are paving the road for Bangladesh’s long-term development plan.
---

{% set assetsPath = '../' %}

{% extends 'layouts/_page-default-inner.twig' %}
{% block content %}

	{% include 'blocks/_nav.twig' %}

	<div class="wrapper">

		{% include 'pages/home/_hub-full.twig' %}

		{% include 'blocks/_transition.twig' %}
		<main class="article" data-article-init>
			<div class="l-smooth-scroll" data-scroll-container data-articles-container>
				<div class="article_wrapp wrap-header" data-article-parse data-article="3">

					{% include 'pages/home/_article-three.twig' %}

					{% include 'blocks/_cta.twig' %}
					{% include 'blocks/_footer.twig' %}

					{# {% include 'pages/home/_article.twig' %} #}

				</div>
			</div>
		</main>

		{% set poster = '../img/af1-video.jpeg' %}

		{% include 'blocks/_video-modal.twig' %}
		{% include 'blocks/_prompt.twig' %}
	</div>
{% endblock %}
